DATABASE_URL=postgresql://postgres:urlpassword@localhost:5432/urlshortener
LOG_LEVEL=INFO
LOG_FILE=data/app.log
BASE_URL=http://<ALB-DNS>
SHORT_CODE_ALPHABET=0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ